/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    /* Utiliza flexbox para organizar los elementos */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    align-items: center;
    /* Establece el color de fondo blanco */
    border-bottom: 1px solid #DBDBDB;
    /* Agrega un borde gris en la parte inferior */
}

.header {
    margin-bottom: 6rem;
}

.head {
    margin-bottom: 6rem;
}

/* Estilo para la lista de navegación */
.navbar-nav {
    display: flex;
    /* Utiliza flexbox para organizar los elementos */
    list-style: none;
    /* Elimina los estilos de lista predeterminados */
    margin: 0;
    /* Elimina el margen predeterminado */
    padding: 0;
    /* Elimina el relleno predeterminado */
}

/* Estilo para los elementos de la lista de navegación */
.nav-item {
    margin-left: 10px;
    /* Añade un margen izquierdo entre los elementos de la lista */
    font-size: 20px;
    /* Añade un tamaño de letra */
}

.pastilla {
    display: inline-flex;
    align-items: center;
    padding: 2px 6px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #DBDBDB;
}

.pastilla img {
    width: 30px;
    /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    margin-right: 8px;
    /* Espacio entre la imagen y el texto */
    border: 1px solid #DBDBDB;
}

/* Estilos generales para el borde */
.borde {
    border: 3px solid #000;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Sombra */
    transition: all 0.3s ease;
    /* Animación de transición */
}

.borde:hover {
    transform: scale(1.05);
    /* Escala al 105% en hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    /* Sombra más pronunciada en hover */
}

.borde-redondo {
    border: 3px solid #000;
    border-radius: 100%;
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Sombra */
    transition: all 0.3s ease;
    /* Animación de transición */
}

.borde-redondo:hover {
    transform: scale(1.05);
    /* Escala al 105% en hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    /* Sombra más pronunciada en hover */
}

.borde-transparente {
    border: 3px;
    border-radius: 15px;
    /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Sombra */
    transition: all 0.3s ease;
    /* Animación de transición */
}

.borde-transparente:hover {
    transform: scale(1.05);
    /* Escala al 105% en hover */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    /* Sombra más pronunciada en hover */
}

.tamaño-cabecera {
    font-size: 20px;
}

.circulo {
    border-radius: 50%;
}

.objetos {
    background-color: white;
    color: black;
}

.azul {
    background-color: rgb(7, 7, 109);
}


@media (max-width: 770px) {
    .pastilla {
        display: inline-flex;
        align-items: center;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 20px;
        border: 1px solid #DBDBDB;
    }
}