.heading {
    text-align: center;
    font-size: 3rem;
    color: #222;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(171, 190, 209, 0.05);
}

.carta:hover {
    background-color: #eee;
    opacity: 0.7;
    transform: scale(1.05);
    box-shadow: rgb(117, 117, 117)000 20px 20px 50px 0px;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
}