/*Al pasar el mouse por encima de la carta se pone de color gris*/
.carta-personalizada:hover {
    background-color: #eee;
    opacity: 0.7;
    transform: scale(1.05);
    box-shadow: rgb(117, 117, 117)000 20px 20px 50px 0px;
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
}

.circulo {
    border-radius: 50%;
    /*le da un border redondo del 50% a la imagen*/
}