.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    float: right;
}

.rating label:hover {
    opacity: 0.6;
    transform: scale(1.05);
    transition: 0.5s;
    z-index: 1;
    cursor: pointer;
}

.rating label:before {
    content: '\2605';
    font-size: 32px;
}

.rating input:checked~label:before {
    color: orange;
}