.borde{
    border: 1px solid #000000;
  }
  
  .imagen-fondo {
      z-index: -1;
    
    }
  
    .imagen-fondo-derecha {
      z-index: -1;
    }
  
  .reestablecercontra{
    max-width: 100%;
    height: auto;
  }
  
  .btn {
    width: 100%;
  }

  .container {
    margin-top: 100px;
  }